beautifulsoup4==4.11.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.1
decorator==5.1.1
expiringdict==1.2.1
greenlet==1.1.2
idna==3.3
lxml==4.9.1
pycparser==2.21
python-telegram-bot==12.8
requests==2.27.1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.36
tornado==6.1
urllib3==1.26.9
